<div class="footer" id="new-footer">
</div>

<script type="module">
  import { renderFooter } from "footer";

  const container = document.getElementById("new-footer");

  const settings = {{json settings}};

  const footerPageData = {
    footerGithubLink: 'https://github.com/Uniswap',
    footerXLink: 'https://x.com/Uniswap',
    footerDiscordLink: 'https://discord.com/invite/uniswap',
    footerLinksSupport: [
      {
        label: 'Uniswap web app',
        url: '/categories/8122316887181-Uniswap-web-app',
      },
      {
        label: 'Uniswap Extension',
        url: '/categories/25219141467405-Uniswap-Extension',
      },
      {
        label: 'Uniswap Wallet',
        url: '/categories/11301970439565-Uniswap-Wallet',
      },
      {
        label: 'Limit orders',
        url: '/categories/24325247851917-Limit-orders',
      },
      {
        label: 'UniswapX',
        url: '/categories/17081597600525-UniswapX',
      },
      {
        label: 'Liquidity',
        url: '/categories/8122334631437-Liquidity',
      },
      {
        label: 'Networks',
        url: '/categories/14366725384845-Networks',
      },
      {
        label: 'Buying Crypto',
        url: '/categories/11302011603341-Buying-Crypto',
      },
      {
        label: 'General',
        url: '/categories/5685161551629-General',
      },
    ],
    footerLinksHelp: [
      {
        label: 'Help Center',
        url: '/',
      },
      {
        label: 'Contact Us',
        url: '/requests/new',
      },
    ],
    footerLinksCompany: [
      {
        label: 'Careers',
        url: 'https://boards.greenhouse.io/uniswaplabs',
      },
      {
        label: 'Brand Assets',
        url: 'https://github.com/Uniswap/brand-assets/raw/main/Uniswap%20Brand%20Assets.zip',
      },
      {
        label: 'Terms of Service',
        url: '/articles/30935100859661-Uniswap-Labs-Terms-of-Service',
      },
      {
        label: 'Privacy Policy',
        url: '/articles/30934457771405-Uniswap-Labs-Privacy-Policy',
      },
      {
        label: 'Trademark Policy',
        url: '/articles/30934762216973-Uniswap-Labs-Trademark-Guidelines',
      },
    ],
    footerLinksEcosystem: [
      {
        label: 'Uniswap App',
        url: 'https://app.uniswap.org/',
      },
      {
        label: 'Governance',
        url: 'https://www.uniswapfoundation.org/governance',
      },
      {
        label: 'Blog',
        url: 'https://blog.uniswap.org/',
      },
    ]
  }

  // Make sure arguments are correctly typed. 
  renderFooter(settings, footerPageData, container);
</script>