@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
}

.avatar-wrapper > g {
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

$group-count: 10;
@for $i from 1 through $group-count {
  .avatar-wrapper g:nth-of-type(#{$i}) {
    animation-duration: #{3 + random(3)}s; 
    animation-delay: #{random(2)}s;   
  }
}